.nc-password {
  display: inline;
  position: relative;
}

.nc-password input {
  padding-right: 32px; /* Space for the eye icon */
}

.nc-password-eye-icon {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}