<span [class]="'nc-password ' + class" [style]="style" [style.width]="width || null" [id]="id" (click)="onClick ? onClick() : null">
    <input 
        #passwordInputRef
        [class]="'nc-password-input ' + inputClass" 
        [style]="inputStyle"
        [attr.type]="isPasswordVisible ? 'text' : 'password'" 
        [attr.placeholder]="placeholder" 
        [disabled]="disabled"
        [attr.aria-disabled]="disabled"
        [attr.aria-label]="placeholder || 'password'"
        [value]="value"
        [attr.name]="name"
        (input)="onChange($event.target.value)"
        [attr.minlength]="minLength"
        [attr.maxlength]="maxLength"
        [attr.required]="required ? true : null"
        [attr.defaultValue]="defaultValue"
    />
    <nc-square-button 
        class="nc-password-eye-icon" 
        (click)="togglePasswordVisibility()" 
        [size]="'2rem'"
        [attr.aria-label]="isPasswordVisible ? 'Hide password' : 'Show password'"
        [attr.aria-pressed]="isPasswordVisible"
    >
        @if (isPasswordVisible) {
            <nc-eye-crossed-icon [size]="18"></nc-eye-crossed-icon>
        } 
        @else {
            <nc-eye-icon [size]="18"></nc-eye-icon>
        }
    </nc-square-button>
</span>