<span [class]="'nc-password ' + class" [style]="style" [id]="id" [style.width]="width" (click)="onClick ? onClick() : null">
    <input 
        #passwordInputRef
        class="nc-password-input" 
        [attr.type]="isPasswordVisible ? 'text' : 'password'" 
        [attr.placeholder]="placeholder" 
        [disabled]="disabled"
        [value]="value"
        [attr.name]="name"
        (input)="onChange($event.target.value)"
        [attr.minlength]="minLength"
        [attr.maxlength]="maxLength"
        [attr.required]="required ? true : null"
        [attr.defaultValue]="defaultValue"
        [style.width]="width || 260 + 'px'"
    />
    <nc-square-button class="nc-password-eye-icon" (click)="togglePasswordVisibility()" [size]="'2rem'">
        @if (isPasswordVisible) {
            <nc-eye-crossed-icon [size]="18"></nc-eye-crossed-icon>
        } 
        @else {
            <nc-eye-icon [size]="18"></nc-eye-icon>
        }
    </nc-square-button>
</span>