.nc-password {
  display: inline-block;
  position: relative;
}

.nc-password input {
  padding-right: 40px; /* Space for the eye icon */
  width: 100%;
  box-sizing: border-box;
}

.nc-password-eye-icon {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}