<nc-container>
  <!-- title -->
  <h1 class="page-title">INPUTS, BUTTONS & FORMS</h1>
  <p class="page-subtitle mt-4 mb-8">Components used for user interaction: text input, select, buttons...</p>
  <br><br>

  <!-- elements demo -->
  <nc-card class="p-4 mb-8">
    <h3 class="section-title-light">Components Demo</h3>
    <p class="section-subtitle-light mb-8">See what's available</p>

    <!-- flexbox -->
    <div class="flexbox flex flex-col">

      <!-- flexbox-item -->
      <div class="flexbox-item mr-8 mb-4">
        <label for="text-input-demo" >Text Input</label>
        <input type="text" id="text-input-demo" placeholder="Type something...">
      </div>

      <!-- flexbox-item -->
      <div class="flexbox-item mr-8 mb-4">
        <label for="textarea-input-demo" >Textarea</label>
        <textarea 
          id="textarea-input-demo" 
          placeholder="Type something..."
        ></textarea>
      </div>

      <!-- flexbox-item -->
      <div class="flexbox-item mr-8 mb-4">
        <label for="select">Select multiple values</label>
        <nc-select 
          id="select" 
          [multiple]="true"
          [options]="[
            { value: 'option1', label: 'Option 1' },
            { value: 'option2', label: 'Option 2' },
            { value: 'option3', label: 'Option 3' },
            { value: 'option4', label: 'Option 4' },
            { value: 'option5', label: 'Option 5' },
            { value: 'option6', label: 'Option 6' },
            { value: 'option7', label: 'Option 7' },
            { value: 'option8', label: 'Option 8' },
            { value: 'option9', label: 'Option 9' },
            { value: 'option10', label: 'Option 10' }
          ]"
          [defaultValue]="['option2', 'option4']"
          placeholder="Please choose..."
          width="260px"
          optionsWidth="260px"
          [searchable]="true"
        ></nc-select>
      </div>

      <!-- flexbox-item -->
      <div class="flexbox-item mr-8 mb-4">
        <nc-button width="260px">Button</nc-button>
      </div>
    </div>
  </nc-card>
  <br><br>

  <!-- links list -->
  <h2 class="section-title">Using the components</h2>
  <p class="section-subtitle mb-2">Click a card to learn how to use the elements</p>
  <ul class="list mb-8 mt-6 mx-8">
    <li class="w-100 mb-4">
      <nc-card [class]="'p-4 flex pointer w-100 hover'" routerLink="/inputs/buttons">
        <span class="circle border h-12 min-w-12 mr-5 flex flex-center">
          <nc-button-icon [size]="30" color="var(--nc-black-200)"></nc-button-icon>
        </span>
        <span>
          <h3 class="section-title-light mb-1">Buttons</h3>
          <p class="section-subtitle-light">variant, size, disabled, SquareButton</p>
        </span>
      </nc-card>
    </li>
    <li class="w-100 mb-4">
      <nc-card [class]="'p-4 flex pointer w-100 hover'" routerLink="/inputs/select">
        <span class="circle border h-12 min-w-12 mr-5 flex flex-center">
          <nc-list-icon [size]="30" color="var(--nc-black-200)"></nc-list-icon>
        </span>
        <span>
          <h3 class="section-title-light mb-1">Select</h3>
          <p class="section-subtitle-light">multiple, defaultValue, searchable, customTrigger, getValue(), setValue(), open(), close()...</p>
        </span>
      </nc-card>
    </li>
    <li class="w-100 mb-4">
      <nc-card [class]="'p-4 flex pointer w-100 hover'" routerLink="/inputs/text-inputs">
        <span class="circle border h-12 min-w-12 mr-5 flex flex-center">
          <nc-text-icon [size]="30" color="var(--nc-black-200)"></nc-text-icon>
        </span>
        <span>
          <h3 class="section-title-light mb-1">Text Inputs (and Label)</h3>
          <p class="section-subtitle-light">text, textarea, password, email...</p>
        </span>
      </nc-card>
    </li>
  </ul>
   
</nc-container>