<nc-container>
  <!-- title -->
  <h1 class="page-title">INPUTS & BUTTONS</h1>
  <p class="page-subtitle mt-4 mb-8">Elements used for user interaction: text input, select, buttons...</p>

  <!-- elements demo -->
  <nc-card class="p-4">
    <h3 class="section-title-light">Elements Demo</h3>
    <p class="section-subtitle-light mb-8">See what's available</p>

    <!-- flexbox -->
    <div class="flexbox flex flex-wrap">
      <!-- flexbox-item01 - select -->
      <div class="flexbox-item mr-8 mb-8">
        <nc-label for="select">Select multiple values</nc-label>
        <nc-select 
          id="select" 
          [multiple]="true"
          [options]="[
            { value: 'option1', label: 'Option 1' },
            { value: 'option2', label: 'Option 2' },
            { value: 'option3', label: 'Option 3' },
            { value: 'option4', label: 'Option 4' },
            { value: 'option5', label: 'Option 5' },
            { value: 'option6', label: 'Option 6' },
            { value: 'option7', label: 'Option 7' },
            { value: 'option8', label: 'Option 8' },
            { value: 'option9', label: 'Option 9' },
            { value: 'option10', label: 'Option 10' }
          ]"
          [defaultValue]="['option2', 'option4']"
          placeholder="Please choose..."
          width="260px"
          optionsWidth="260px"
          [searchable]="true"
        ></nc-select>
      </div>
    </div>
  </nc-card>

  <!-- links to elements -->
   
</nc-container>