<nav 
    [class]="'nc-left-nav ' + class" 
    [attr.id]="id" 
    [style]="style" 
    [style.width]="width ? width : null"
    [style.top]="top ? top : 0"
>
    <nc-close-button class="nc-left-nav-close"></nc-close-button>
    <ng-content></ng-content>
    
    @for (link of links; track link.label) {
        @if (!link.hasOptions) {
            <a [routerLink]="link.link" class="nc-left-nav-link">{{ link.label }}</a>
        } @else {
            <nc-collapsible>
                <div slot="collapsible-trigger" class="nc-left-nav-link">{{ link.label }}</div>
                <div slot="collapsible-content" class="nc-left-nav-options">
                    @for (option of link.options; track option.value) {
                        <a [routerLink]="option.value" class="nc-left-nav-option-link">{{ option.label }}</a>
                    }
                </div>
            </nc-collapsible>
        }
    }
</nav>