<nav 
    [class]="'nc-left-nav ' + class + (isOpen ? '' : ' nc-left-nav-closed')" 
    [attr.id]="id" 
    [style]="style" 
    [style.width]="width ? width : null"
    [style.top]="top ? top : 0"
>
    <nc-close-button class="nc-left-nav-close" (click)="close()"></nc-close-button>
    <ng-content></ng-content>
    
    @for (link of links; track link.label) {
        @if (!link.hasOptions) {
            <a [routerLink]="link.link" class="nc-left-nav-link">{{ link.label }}</a>
        } @else {
            <nc-collapsible>
                <div slot="collapsible-trigger" class="nc-left-nav-link">{{ link.label }}</div>
                <div slot="collapsible-content" class="nc-left-nav-options">
                    @for (option of link.options; track option.value) {
                        <a [routerLink]="option.value" class="nc-left-nav-option-link">{{ option.label }}</a>
                    }
                </div>
            </nc-collapsible>
        }
    }
</nav>

@if (!isOpen) {
    <nc-square-button 
        class="nc-left-nav-toggle" 
        variant="ghost"
        size="2.5rem"
        ariaLabel="Open navigation"
        [style.top]="'calc(' + (top || '0px') + ' + 1rem)'"
        (click)="open()"
    >
        <nc-chevron-down-icon [size]="20" class="nc-left-nav-toggle-icon"></nc-chevron-down-icon>
    </nc-square-button>
}