<!-- Open button (shown when nav is closed) -->
@if (!isOpenState) {
  <nc-square-button 
    (click)="open()" 
    class="nc-left-nav-open-button"
    ariaLabel="Open navigation"
  >
    <nc-chevron-down-icon 
      [style]="{ transform: 'rotate(-90deg)' }" 
      [size]="20" 
      color="currentColor"
    />
  </nc-square-button>
}

<!-- Left navigation panel -->
@if (isOpenState) {
  <div 
    [id]="id" 
    [class]="'nc-left-nav ' + class" 
    [style]="style"
    [style.width]="width"
    [style.top]="offsetTop"
    [style.height]="'calc(100vh - ' + offsetTop + ')'"
  >
    <nc-card 
      class="nc-left-nav-card"
      [style]="{
        height: '100%',
        borderRadius: '0',
        border: 'none',
        position: 'relative',
        display: 'flex',
        flexDirection: 'column',
        overflow: 'hidden'
      }"
    >
      <nc-close-button 
        (click)="close()" 
        class="nc-left-nav-close-button"
      />
      
      <div class="nc-left-nav-content">
        <ng-content></ng-content>
      </div>
    </nc-card>
  </div>
}
