<span [class]="'nc-checkbox-an-label-wrap ' + class + ' ' + (disabled ? 'nc-checkbox-disabled' : '')" [style]="style" >
    <span class="nc-checkbox-wrap">
        <input 
            type="checkbox" 
            [name]="name" 
            [id]="id"
            [disabled]="disabled"
            (click)="toggleChecked()"
            [checked]="isChecked"
            [class]="'nc-checkbox ' + inputClass"
            [style]="inputStyle"
        >
        <div class="nc-fake-checkbox">
            <span class="nc-checkbox-check-symbol" [class.nc-checkbox-check-symbol-visible]="isChecked">✔</span>
        </div>
    </span>
    
    @if (label) { <label class="nc-checkbox-label" (click)="toggleChecked()">{{ label }}</label> }
</span>