<nc-container>
    <!-- Page header -->
    <h1 class="page-title">BUTTONS</h1>
    <p class="page-subtitle">Button components and how to use them.</p>
    <br><br><br>

    <!-- Button -->
    <h2 class="section-title mb-2">Button</h2>
    <p class="section-subtitle">Common use and modifications</p>
    <br>

    <h4 class="section-subtitle-light mb-2">Result</h4>
    <nc-button class="mb-1 mr-1" [width]="'260px'">Dark (default)</nc-button>
    <nc-button variant="outline" class="mb-1 mr-1" [width]="'260px'">Outline</nc-button>
    <nc-button variant="ghost" class="mb-1 mr-1" [width]="'260px'">Ghost</nc-button>
    <nc-button variant="red" class="mb-1 mr-1" [width]="'260px'">Red</nc-button>
    <nc-button>Unmodified</nc-button>
    <br><br><br>
    <nc-button size="small" class="mb-1 mr-1">Small</nc-button>
    <nc-button size="medium" class="mb-1 mr-1">Medium</nc-button>
    <nc-button size="large" class="mb-1 mr-1">Large</nc-button>
    <nc-button class="mb-1 mr-1" [width]="'260px'" [style]="{backgroundColor: 'var(--nc-red-500)', borderRadius: '999px', height: '55px', fontSize: '18px', fontWeight: 'bold'}">Styled button</nc-button>
    <nc-button class="mb-1 mr-1" [width]="'260px'" title="TITLE" size="large">With Title (hover)</nc-button>
    <br><br><br>

    <h4 class="section-subtitle-light">HTML</h4>
    <nc-card>
        <pre><code [highlight]="htmlCode" language="xml" style="background-color: var(--nc-white-700); border-radius: var(--nc-border-radius);"></code></pre>
    </nc-card>
    <br><br>
    <h4 class="section-subtitle-light">TypeScript</h4>
    <nc-card>
        <pre><code [highlight]="tsCode" language="typescript" style="background-color: var(--nc-white-700); border-radius: var(--nc-border-radius);"></code></pre>
    </nc-card>
    <br><br><br>



    <!-- SquareButton -->
    <h2 class="section-title mb-2">SquareButton</h2>
    <p class="section-subtitle">Primarily intended for icons</p>
    <br>

    <h4 class="section-subtitle-light mb-2">Result</h4>
    <nc-square-button class="mb-2 mr-1">
        <nc-button-icon></nc-button-icon>
    </nc-square-button>
    <nc-square-button class="mb-2 mr-1" variant="dark">
        <nc-button-icon color="white"></nc-button-icon>
    </nc-square-button>
    <nc-square-button class="mb-2 mr-1" variant="red">
        <nc-button-icon color="white"></nc-button-icon>
    </nc-square-button>
    <nc-square-button class="mb-2 mr-1" variant="outline">
        <nc-button-icon color="var(--nc-color-text)"></nc-button-icon>
    </nc-square-button>
    <br><br><br>

    <h4 class="section-subtitle-light">HTML</h4>
    <nc-card>
        <pre><code [highlight]="squareBtnCode" language="xml" style="background-color: var(--nc-white-700); border-radius: var(--nc-border-radius);"></code></pre>
    </nc-card>
    <br><br>
    <h4 class="section-subtitle-light">TypeScript</h4>
    <nc-card>
        <pre><code [highlight]="tsCode" language="typescript" style="background-color: var(--nc-white-700); border-radius: var(--nc-border-radius);"></code></pre>
    </nc-card>
    <br><br><br>



</nc-container>