.nc-file-upload {
    display: inline-block;
    position: relative;
    border-radius: var(--nc-border-radius);
    background-color: var(--nc-input-bg);
    color: var(--nc-input-text-color);
    font-size: var(--nc-input-text-size);
    font-weight: var(--nc-input-text-weight);
    border: 1px solid var(--nc-border-color);
}

.nc-file-upload:hover {
    border-color: var(--nc-input-bg-hover);
}

.nc-file-upload-input {
    pointer-events: none;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.nc-file-upload-placeholder {
    color: var(--nc-input-text-color);
    font-size: var(--nc-input-text-size);
    font-weight: var(--nc-input-text-weight);
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 2rem);
}

.nc-file-upload-clear-button {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.nc-file-upload-clear-button:focus {
    outline: 0;
    box-shadow: var(--nc-outline-shadow);
}

.nc-file-upload:has(.nc-file-upload-input:focus) {
    box-shadow: var(--nc-outline-shadow);
}

.nc-file-upload:has(.nc-file-upload-input:disabled) {
    opacity: 0.5;
    pointer-events: none;
}