/* HERO */
::ng-deep .title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.page-title {
    z-index: 2;
}

.title-image {
    width: 260px;
    filter: brightness(2);
    position: absolute;
    left: 125px;
    top: -90px;
}

::ng-deep .feature-card {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

@media (max-width: 1000px) {
    .title-image {
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.4;
    }
}

@media (max-width: 800px) {
    .features-section  {
        flex-direction: column;
        align-items: center;
    }

    ::ng-deep .feature-card {
        justify-content: flex-start;
        padding-left: 3rem;
    }
}

@media (max-width: 425px) {
    ::ng-deep .feature-card {
        justify-content: flex-start;
        padding-left: 1rem;
    }
}



/* VIRTUALIZED TABLE */
::ng-deep .vt-html-example-text {
    display: inline-block;
    color: var(--nc-red-600);
    font-weight: bold;
}

::ng-deep .vt-html-example-button {
    padding: 0.25rem 0.5rem;
    background-color: var(--nc-button-dark-bg);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
