<nc-container>

  <!-- title -->
   <section class="title-section mb-12 mt-8">
    <img 
      [src]="logoPath" 
      alt="Logo" 
      class="title-image"
    >
    <span class="page-title">
      <h1 class="page-title orbitron">NCSS ANGULAR</h1>
      <p class="page-subtitle mt-4 orbitron">Simple components. Just work.</p>
    </span>
  </section>
  <br><br>

  <!-- features -->
  <section class="features-section flex flex-wrap gap-6">
    <nc-card class="p-4">
      <h4 class="section-title-light text-center mb-2 orbitron">No Installation</h4>
      <p class="section-subtitle-light text-center">Download and use without any installation.</p>
    </nc-card>
    <nc-card class="p-4">
      <h4 class="section-title-light text-center mb-2 orbitron">No Dependencies</h4>
      <p class="section-subtitle-light text-center">No external dependencies that break over time.</p>
    </nc-card>
    <nc-card class="p-4">
      <h4 class="section-title-light text-center mb-2 orbitron">No License</h4>
      <p class="section-subtitle-light text-center">Completely free to use. You are the owner.</p>
    </nc-card>
  </section>
</nc-container>