<nc-container>
  <!-- title -->
  <h1 class="page-title">FORM SERVICE</h1>
  <p class="page-subtitle mt-4 mb-8">ngForm and FormControl are nice but FormService is simpler</p>
  <br><br>

  <h3 class="section-title">Demo Usage</h3>
  <p class="section-subtitle mb-4">No need to create FormGroup or FormControl instances. Just add "name" attributes and call formService.getFormValues()</p>
  <nc-card></nc-card><br><br>

    <nc-card class="p-4 mb-4 mx-auto" [style]="{maxWidth: '500px'}">
        <form id="my-form" class="mb-2">
            <label for="text-input" class="mb-1">Text Input</label>
            <input 
                type="text" 
                id="text-input" 
                name="text-input" 
                placeholder="Type something..." 
                class="w-100 mb-4"
                [defaultValue]="'Text Input Value'"
            >
            <label for="password" class="mb-1">Password</label>
            <nc-password 
                id="password" 
                name="password" 
                placeholder="Enter your password" 
                class="w-100 mb-4"
                [defaultValue]="'Password Value'"
            ></nc-password>
            <label for="textarea" class="mb-1">Text Area</label>
            <textarea 
                id="textarea" 
                name="textarea" 
                placeholder="Type something..." 
                class="w-100 mb-4"
                [defaultValue]="'Text Area Value'"
            ></textarea>
            <nc-checkbox 
                id="checkbox" 
                name="checkbox" 
                label="Unchecked by default" 
                class="mb-2 mr-2"
            ></nc-checkbox>

            <nc-checkbox 
                id="checkbox-2" 
                name="checkbox-2" 
                label="Checked by default" 
                [checked]="true" 
                class="mb-4 mr-2"
                [disabled]="true"
            ></nc-checkbox><br>
            <nc-switch 
                id="switch" 
                name="switch" 
                label="Switch" 
                [checked]="true" 
                class="mb-4 mr-2"
            ></nc-switch>
            <nc-select 
                id="select" 
                name="select" 
                label="Select" 
                [options]="[
                    { value: 'Option 1', label: 'Option 1' },
                    { value: 'Option 2', label: 'Option 2' },
                    { value: 'Option 3', label: 'Option 3' }
                ]"
                class="w-100 mb-4 mr-2"
            ></nc-select>
            <nc-select 
                id="multiselect" 
                name="multiselect" 
                label="Multiselect" 
                [options]="[
                    { value: 'Option 1', label: 'Option 1' },
                    { value: 'Option 2', label: 'Option 2' },
                    { value: 'Option 3', label: 'Option 3' }
                ]"
                [multiple]="true"
                [defaultValue]="['Option 1', 'Option 2']"
                class="w-100 mb-4 mr-2"
            ></nc-select>
            <label for="native-select" class="mb-1">Native Select</label>
            <select id="native-select" name="native-select" class="w-100 mb-4">
                <option value="">Select an option</option>
                <option value="Option A">Option A</option>
                <option value="Option B">Option B</option>
                <option value="Option C">Option C</option>
            </select>
            <label for="file-input" class="mb-1">File Input</label>
            <nc-file-upload name="file-upload" class="w-100 mb-8"></nc-file-upload>

            <nc-button (click)="setValues()" type="button" variant="outline" class="w-100 mb-2">Set Values</nc-button>
            <nc-button (click)="clearForm()" type="button" variant="outline" class="w-100 mb-2">Clear Form</nc-button>
            <nc-button (click)="submitForm($event)" class="w-100">Submit Form</nc-button>
        </form>
    </nc-card>
    <br><br>


    <h4 class="section-subtitle-light mb-2">HTML</h4>
    <p class="text mb-4">Pass an "id" to the form and a "name" attribute to each form element to work with the form service.</p>
    <nc-card>
        <pre><code [highlight]="getFormValuesHTML" language="xml" style="background-color: var(--nc-white-700); border-radius: var(--nc-border-radius);"></code></pre>
    </nc-card> 
    <br><br>

   
    <h4 class="section-subtitle-light mb-2">TypeScript</h4>
    <p class="text mb-4">The following TypeScript code demonstrates how to use the FormService to get form values.</p>
    <nc-card>
        <pre><code [highlight]="getFormValuesTS" language="typescript" style="background-color: var(--nc-white-700); border-radius: var(--nc-border-radius);"></code></pre>
    </nc-card>
    <br><br>




</nc-container>