.nc-topnav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .nc-topnav-logo {
        margin-left: 1rem;
    }

    .nc-topnav-right-side {
        display: flex;
        align-items: center;
    }

        .nc-topnav-links {
            display: flex;
            align-items: center;
            list-style-type: none;
        }

        .nc-topnav-hamburger {
            display: none;
        }

            .nc-topnav-link {
                margin-right: 1rem;
                text-decoration: none;
            }



@media (max-width: 768px) {
    .nc-topnav-links {
        display: none;
    }

    .nc-topnav-hamburger {
        display: block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}


