@import "./app/ncss/stylesheets/ncss.css";
@import 'highlight.js/styles/github.css';

@font-face {
    font-family: 'Orbitron';
    src: url('fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* Variable font weight range */
    font-style: normal;
}

body {
    background-color: var(--nc-bg-color);
}

.orbitron {
    font-family: 'Orbitron', sans-serif;
}
